%section.deliver_address
  %h2.deliver_address__title 発送元お届け先情報登録
  = form_for @deliver_address, html: {class: "deliver_address__form" } do  |f|
    .deliver_address__form__container
      -if flash[:notice]
        .flash_box
          .p
            = flash[:notice]
      -if flash[:alert]
        .flash_box
          .p
            = flash[:alert]
      .form_group.form_group-first
        %label.form_group__label お名前
        %span.form_group__require 必須
        = f.text_field :deliver_family_name, class: "form_group__field", placeholder: ' 例)山田'
        = f.text_field :deliver_first_name, class: "form_group__field", placeholder: ' 例)隆'
      .form_group
        %label.form_group__label お名前カナ
        %span.form_group__require 必須
        = f.text_field :deliver_family_name_kana, class: "form_group__field", placeholder: ' 例)ヤマダ'
        = f.text_field :deliver_first_name_kana, class: "form_group__field", placeholder: ' 例)タカシ'
      .form_group
        %label.form_group__label 郵便番号
        %span.form_group__require 必須
        = f.text_field :deliver_yubin_bango, class: "form_group__field", placeholder: ' 例)123-4567'
      .form_group
        %label.form_group__label 都道府県
        %span.form_group__require 必須
        = f.select :deliver_todofuken, [["北海道", "北海道"], ["青森県", "青森県"], ["岩手県", "岩手県"], ["宮城県", "宮城県"], ["秋田県", "秋田県"], ["山形県", "山形県"], ["福島県", "福島県"], ["茨城県", "茨城県"], ["栃木県", "栃木県"], ["群馬県", "群馬県"], ["埼玉県", "埼玉県"], ["千葉県", "千葉県"], ["東京都", "東京都"], ["神奈川県", "神奈川県"], ["新潟県", "新潟県"], ["富山県", "富山県"], ["石川県", "石川県"], ["福井県", "福井県"], ["山梨県", "山梨県"], ["長野県", "長野県"], ["岐阜県", "岐阜県"], ["静岡県", "静岡県"], ["愛知県", "愛知県"], ["三重県", "三重県"], ["滋賀県", "滋賀県"], ["京都府", "京都府"], ["大阪府", "大阪府"], ["兵庫県", "兵庫県"], ["奈良県", "奈良県"], ["和歌山県", "和歌山県"], ["鳥取県", "鳥取県"], ["島根県", "島根県"], ["岡山県", "岡山県"], ["広島県", "広島県"], ["山口県", "山口県"], ["徳島県", "徳島県"], ["香川県", "香川県"], ["愛媛県", "愛媛県"], ["高知県", "高知県"], ["福岡県", "福岡県"], ["佐賀県", "佐賀県"], ["長崎県", "長崎県"], ["熊本県", "熊本県"], ["大分県", "大分県"], ["宮崎県", "宮崎県"], ["鹿児島県", "鹿児島県"], ["沖縄県", "沖縄県"]], {include_blank: "選択して下さい"},class: "form_group__field"
      .form_group
        %label.form_group__label 市町村
        %span.form_group__require 必須
        = f.text_field :deliver_shichoson, class: "form_group__field", placeholder: ' 例)横浜市緑区'
      .form_group
        %label.form_group__label 番地
        %span.form_group__require 必須
        = f.text_field :deliver_banchi, class: "form_group__field", placeholder: ' 例)青山1-1-1'
      .form_group
        %label.form_group__label 建物名
        %span.form_group__require.form_group__notrequire 任意
        = f.text_field :deliver_building, class: "form_group__field", placeholder: ' 例)山下ビル202'
      .form_group
        %label.form_group__ser_label 電話
        %span.form_group__require.form_group__notrequire 任意
        = f.text_field :deliver_tel_no, class: "form_group__field", placeholder: ' 例)09012345678'
      - if controller.action_name == "edit"
        = f.submit "更新", class: "address-new-btn", params: @path
      -else
        = f.submit "登録", class: "address-new-btn", params: @path


